header{
    background: linear-gradient(rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.507)), url('./service.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.header-text{
    text-align: right;
    padding: 80px 0px;
    color: white;
}
.order-btn{
    padding: 10px 15px;
    border: 2px solid white;
    background-color: transparent;
    transition: all linear .2s;
    color: white;
    font-weight: bold;
}
.order-btn:hover{
    border: 2px solid #0872b9;
    background-color: #0872b9;
    transition: all linear .3s;
}
@media screen and (max-width:578px) {
    .header-text{
        text-align: center;
    }
}


