.NavBar{
    background-color: white;
}

.nav-right{
    justify-content: flex-end;
}

.nav-height{
    background-color: #0872b9;
    display: flex;
    align-items: center;
}
.nav-height a{
    color: white;
}
.nav-height a:hover{
    color: white;
}

.navbar-nav a {
    text-decoration: none;
    margin-left: 30px;
    padding: 6px 15px;
}
@media screen and (max-width:578px) {
    .navbar-nav a {
        text-decoration: none;
        margin-left: 0px;
        padding: 6px 15px;
    }
}

.isActive{
    background-color: #0872b9;
    padding: 6px 15px;
    color: white;
}
