.NavBar{
    background-color: white;
}

.nav-right{
    justify-content: flex-end;
}

.nav-height{
    background-color: #0872b9;
    height: 50px;
    display: flex;
    align-items: center;
}
.Fast-service{
    margin-bottom: 0px;
    font-weight: bolder;
}
.icon-right{
    display: flex;
    justify-content: flex-end;

}
.li-flex{
    display: flex;
    margin-bottom: 0px;
    list-style: none;
    margin-left: 20px;

}
.li-flex li{
    margin-left: 20px;
}
.li-flex li a{

    color: white;
}
.navbar-nav a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    padding: 6px 15px;
}
.navbar-nav a:hover{
    color: red;
}
.isActive{
    background-color: #0872b9;
    padding: 6px 15px;
   color: white;
}
.isActive a{
    color: white;
}