section{
    background-color: #353535;
    
}
.icon-bg{
    padding: 8px;
    border-radius: 50%;
    background-color: #0872b9;
    margin-bottom: 15px;
}
.phone{
    color: white;
    height: 15px;
    width: 15px;
    
    
}

.icone-flex{
    display: flex;
    align-items: center;  
}
.icone-flex a{
    color: white;
    text-decoration: none;
}
.font-size{
    font-size: 13px;
}
.importan-link a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}