section{
    background-color: #353535;
}
.icon-bg{
    border: 2px solid #5bc5f4;
    border-radius: 50%;
    background-color: #5bc5f4;
    padding: 8px;
}
.phone{
    color: white;
    border-radius: 50%;
    font-size: 15px;
    
}
.icone-flex p{
    margin-bottom: 0px;
}
.icone-flex{
    display: flex;
    align-items: center;
    
}
.font-size{
    font-size: 13px;
}